.App {
  margin: 0px;
  padding: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.ml-10 {
  margin-left: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mt {
  margin-top: 50px;
}

.mb-2 {
  margin-bottom: 2px;
}

.ip-cus {
  width: 70%;
}

span {
  padding: 10px 20px ;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}

.active-color{
border: solid 3px black;
}

.mt {
  margin-top: 50px;
}


#content{
  padding: 10px;
  border: solid 3px red;
}